fedora-release-14.tar.bz2
fedora-release-15.tar.bz2
/fedora-release-16.tar.bz2
/fedora-release-17.tar.bz2
/fedora-release-18.tar.bz2
/fedora-release-19.tar.bz2
/fedora-release-20.tar.bz2
/fedora-release-21.tar.bz2
/fedora-release-22.tar.bz2
/fedora-release-23.tar.bz2
/fedora-release-24.tar.bz2
/fedora-release-25.tar.bz2
/fedora-release-26.tar.bz2
